.content-section {
    padding-top: 65px;
     padding-bottom: 65px; 
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-right: 15px;
      padding-left: 15px;
      
    }
}

.meet-the-owners-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .meet-the-owners-right {
    width: 70%;
    padding: 90px 55px 90px 245px;
    border-radius: 5px;
    background-color: #222;
    color: #f9f9f9;
  }
  
  .meet-the-owners-left {
    position: absolute;
    left: 0%;
    top: 5%;
    right: auto;
    bottom: 0%;
    width: 45%;
    height: 90%;
    border-radius: 5px;
    background-image: url(../images/headerbg.jpg);
    background-position: 50% 100%;
    background-size: cover;
  }

 

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

 
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 920px) {
  .meet-the-owners-left {
  display: none; 
 }
 .meet-the-owners-right {
  width: 100%;
  color: #f9f9f9;
  margin: auto;
  padding: 50px;
  }
  .owners-rich-text {
    text-align: center
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
 
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
  