/* header */





/* header */
#headerwrap {
    margin-top: 0px;
    padding-top: 120px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
 
}

#headerwrap h1 {
    color: #ffffff;
    margin-top: 60px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

#headerwrap p {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}
/* Links */
a {
    color: #3498db;
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;

}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* image load animations */
.no-display {
    opacity: 0;
}

.appear {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#img-banner{
    width: 320px;
    height: 300px;
    display:flexbox
}

/* buttons */
.homebtn {
    border: 3px solid #fff;
    color: #fff;
    border-radius: 0;
    padding: 15px 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.homebtn:hover {
    border: 3px solid #fff;
    background-color: #fff;
    color: #222;
}



/* contacts ways */
 .services-container {
     width: 90%;
     margin: 0 auto;
     max-width: 960px;
 }

 .container-flex {
     display: flex;
     justify-content: space-between;
 }

 .services-recent {
     width: 30%;
 }

.service-image {
    width: 100%;
    object-fit: cover;
    min-height: 200px;
    height: 50%;
}

.service-icon {
    padding-top: 1em;
    width: 30%;
}

@media (max-width: 675px) {
    .container-flex {
        flex-direction: column;
        justify-content: center;
    }

    .services-container {
       width: 95%;
    }

    .services-recent {
        width: 90%;
        margin: 1em auto;
    }
    .service-icon{
        display: none;
    }
    .service-box-title {
        text-align: center;
    }
}


/* About */
.about {

    background: #e0e0e0
}

.about-container {
    width: 90%;
    margin: 0 auto;
}

 .about-header {
     text-align: center;
     margin-bottom: 2em;
     
 }

 .about-column {
     margin: 0.5em;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .about-col-1 {
     width: 48%;
 }

 .about-col-1 img {
     width: 100%;
 }

 .about-col-2 {
     width: 48%;
 }

 @media only screen 
 and (max-width : 720px) {
    .about-column {
        flex-direction: column;
    }

    .about-col-1,  .about-col-2{
    margin-bottom: 1em;
     width: 100%;
     
   }
 }



/* quote */

.quote-container {
    background-color: #252525;
  
   
   }
   
    .quote-container h1{
        color: cornsilk;
       font-size: 3rem;
       max-width: 75%;
       margin: 0 auto;
       -webkit-animation: fadein 2s;
   }
   
   @keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
   }
   
   /* Safari, Chrome and Opera > 12.1 */
   @-webkit-keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
   }



/* contacts page */
.banner-area {
    position: relative;
    min-height: 300px;
    color: #fff;
    background-image: url(../images/headerbg.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.banner-heading {
    text-align: center;
}

.banner-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: 900;
    padding-top: 30px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.breadcrumb {
    padding: 0;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.breadcrumb li a, .breadcrumb .breadcrumb-item, .breadcrumb li a:focus, .breadcrumb li a:hover {
    color: #fff !important;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

