@font-face {
  font-family: 'zantrokeregular';
  src: url('zantroke-webfont.woff2') format('woff2'),
       url('zantroke-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
 
  font-size: 1rem;
}

.main-container {
  width: 98%;
  margin: 5px auto ;
}

.columns {
display: flex;
justify-content: space-evenly;

align-items: center;
}

.left-img img,
.right-img img{
  width: 100%;
  
}

.right-text, .left-text {
 max-width: 70%;
 padding: 0.5em;
 font-size: 1em;
 text-align: center;

}

.col-1 {
  width: 65%;
}

.col-2 {
 width:  35%;
}

@media only screen 
and (max-width : 720px) {
  .main-container {
    width: 100%;
    
  }

  .columns {
    flex-direction: column;
    justify-content: flex-start;
  }
  .col-1 {
    width: 95%;
    order: 1;
  }

  .col-2 {
    width: 95%;
    order: 2;
  }
 }


